APP_ENV=dev
APP_SECRET=SECRET_KEY
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"

###> lexik JWT ###
JWT_SECRET_KEY=my_secret_key
JWT_PUBLIC_KEY=my_public_key
###< lexik JWT ###

###> AWS S3 ###
AWS_S3_KEY=s3_key
AWS_S3_SECRET=s3_secret
AWS_S3_BUCKET_NAME=s3_bucket
AWS_S3_REGION=s3_name
###< AWS S3 ###

###> symfony/mailer ###
MAILER_DSN=smtp://localhost:PORT
###< symfony/mailer ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###